<template>
  <div class="cars" id="cluster-analysis">
    App 2 is working
    <p>comment me on and off to see HMR</p>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  created(){
    console.log('hola')
  }
}
</script>
<style>
.cars {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
