<template>
  <div>
    <div>
      <router-link to="/dashboard">dashboard</router-link><br>
      <router-link to="/overview">overview</router-link><br>
      <router-link to="/cluster-analysis">cluster-analysis</router-link><br>
      <router-link to="/geo-listening">geo-listening</router-link><br>
      <p>{{$store.state.storeTest.count}}</p>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "Navigation",
  mounted() {
    console.log(this.$store);
  },
};
</script>