<template>
  <div class="cars" id="overview">
    App 2 is working
    <p>comment me on and off to see HMR {{$store.state.storeTest.count}}</p>
    <button @click="sendGraphQL">llamar GraphQL</button>
    <router-view></router-view>
  </div>
</template>
<script>
import { querys } from "@isc/styleguide";
export default {
  methods:{
    sendGraphQL(){
      querys.testing()
    }
  }
};
</script>
<style>
.cars {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
